<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ShellFolder</title>
<link rel="icon" href="/img/logo.png" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/lib/bootstrap@5.2.3/css/bootstrap.min.css" rel="stylesheet">
<script src="/lib/bootstrap@5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="/lib/jquery@3.6.3/jquery.min.js"></script>
</head>
<body>
	<div class="container mt-3">
		<h2>Shell Folder</h2>
		<div class="mt-4 p-5 bg-primary text-white rounded">
			<h1>환영합니다.</h1> 
			<p>Spring Boot Project</p> 
		</div>
	</div>
	<div class="container mt-3">
		<h2>기능 구현</h2>
		<a href="/user/list" class="btn btn-success">사용자 목록</a>
	</div>
</body>
</html>